{
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "rules": {
    "no-console": ["off"],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.js", "!scripts/**/*.js"],
        "optionalDependencies": true,
        "peerDependencies": true
      }
    ]
  }
}
